/vendor/
/node_modules/

# Wordpress itself
/public/admin/

# wp-content folders
/public/languages/*
/public/mu-plugins/*
/public/plugins/*
/public/themes/*
/public/upgrade/*

# Comment out / remove if you want to commit media uploads to your repo
/public/uploads/*

# To track specific custom themes or plugins, exclude as such:
#!/public/mu-plugins/myplugin
!/public/mu-plugins/composer-website-qol.php
#!/public/plugins/myplugin
#!/public/themes/mytheme

*.log
.env
