/vendor/
/wordpress/

# wp-content folders
/wp-content/mu-plugins/*
/wp-content/plugins/*
/wp-content/themes/*

# disable if you want to commit uploads to your repo
/wp-content/uploads/*

# To track specific custom themes or plugins, exclude as such:
#!/wp-content/mu-plugins/myplugin
#!/wp-content/plugins/myplugin
#!/wp-content/themes/mytheme

*.log
.env
